.post-item {
    padding: 1rem;
    max-width: 350px;
    text-align: center;
    word-wrap: break-word;
}

@media screen and (max-width: 992px) {
    .post-item {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .post-item {
        max-width: 230px;
    }
}

@media screen and (max-width: 576px) {
    .post-item {
        max-width: 400px;
    }
}